@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
}

/*********************************
 *    初期設定                             
 *********************************/
@font-face {
  font-family: "hui";
  src: url("fonts/HuiFont29.ttf");
}

html {
  font-size: 62.5%;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  margin: 0px auto;
  padding: 0px;
}

#wrapper {
  margin: 0px auto;
  overflow: hidden;
}

h2 {
  font-size: 2.6rem;
  text-align: center;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
  font-weight: 500;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
  position: relative;
}

@media (max-width: 375px) {
  h2 {
    font-size: 2.5rem;
  }
}

h2:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 5rem;
  border-bottom: 3px solid #35bec4;
}

h3 {
  font-size: 2.4rem;
  text-align: center;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
}

@media (max-width: 375px) {
  h3 {
    font-size: 2rem;
  }
}

p {
  font-size: 1.6rem;
  line-height: 2rem;
}

.active {
  border-bottom: 1.5px solid #35bec4;
}

/*********************************
 *    nav                         
 *********************************/
.drawer-hamburger {
  display: none;
}

@media (max-width: 910px) {
  .drawer-hamburger {
    display: block;
  }
}

#nav {
  background: #f091a9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 100;
  width: 100%;
  font-size: 1.6rem;
  min-height: 100px;
  max-height: 100px;
}

.logo img {
  max-width: 70vw;
  max-height: 100px;
}

.nav_lists {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

@media (max-width: 910px) {
  .nav_lists {
    display: none;
  }
}

.nav_lists .nav_item {
  margin-right: 2rem;
  font-size: 1.6rem;
}

/*********************************
 *    home                             
 *********************************/
.home_thema {
  display: none;
  background-image: url(images/oyako.jpg);
  background-size: cover;
  background-position: 0 25%;
  width: 100%;
  height: 290px;
  margin-bottom: 28rem;
  position: relative;
}

.home_thema .slide_mes-sp {
  position: absolute;
  top: 255px;
  width: calc(100% - 4rem);
  height: 100%;
  margin: 0 2rem;
}

.home_thema .slide_mes-sp:after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 1px;
  background-color: #000000;
  vertical-align: middle;
}

.home_thema .slide_mes-sp .slide_ttl-sp {
  font-size: 2.2rem;
  line-height: 3.3rem;
  font-family: "hui", sans-serif;
  margin-bottom: 3rem;
}

.home_thema .slide_mes-sp .slide_txt-sp {
  display: inline-block;
  text-align: left;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  color: #000;
}

@media (max-width: 375px) {
  .home_thema {
    display: block;
  }
}

.home_thema img {
  width: 100vw;
}

.slide_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(images/mother_babyTOP.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
}

.slide_wrapper:before {
  content: "";
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

@media (max-width: 375px) {
  .slide_wrapper {
    display: none;
  }
}

.slide_wrapper .slide_mes {
  width: 50vw;
  min-width: 376px;
  z-index: 1;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  padding: 2rem 0;
  margin-left: 1rem;
  text-align: center;
}

.slide_wrapper .slide_mes .slide_ttl {
  font-size: 3.3rem;
  line-height: 3.3rem;
  font-family: "hui", sans-serif;
  margin-bottom: 3rem;
}

.slide_wrapper .slide_mes .slide_txt {
  display: inline-block;
  text-align: left;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

/*********************************
 *    staff                             
 *********************************/
#staff h2 {
  color: #000;
  padding-top: 4rem;
}

#staff .staff_lists {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 375px) {
  #staff .staff_lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#staff .staff_list1 {
  margin: 2rem;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  width: calc(25% - 4rem);
  min-width: 28.2rem;
}

@media (max-width: 375px) {
  #staff .staff_list1 {
    margin: 2rem 0.5rem;
    height: 100%;
    width: calc(100% - 1rem);
  }
}

#staff .staff_list1 .staff_photo1 {
  background-image: url(images/womenJP_Hairdresser.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
}

@media (max-width: 375px) {
  #staff .staff_list1 .staff_photo1 {
    height: 40vh;
  }
}

#staff .staff_list1 .staff_data {
  padding: 2rem 0 0 2rem;
  font-size: 2rem;
  color: #fff;
  height: 33vh;
  background-color: #8c7352;
}

@media (max-width: 375px) {
  #staff .staff_list1 .staff_data {
    font-size: 1.6rem;
  }
}

#staff .staff_list1 .staff_data p:not(:last-child) {
  margin-bottom: 1rem;
}

#staff .staff_list1 .staff_data .staff_name1 {
  font-size: 2rem;
}

#staff .staff_list1 .staff_data .staff_more {
  padding-top: 3rem;
}

/*********************************
 *    concept                             
 *********************************/
.note_wrap {
  background: #fff;
  padding: 1em 2em;
  width: 80%;
  margin: 30px auto;
}

@media (max-width: 375px) {
  .note_wrap {
    width: 100%;
    padding: 0;
  }
}

.note {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(97%, rgba(0, 0, 0, 0)), color-stop(97%, #ddd), to(#ddd));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 97%, #ddd 97%, #ddd 100%);
  background-size: 100% 2em;
  line-height: 2;
}

.note p {
  margin-bottom: 2em;
}

.letter {
  width: 70vw;
  padding: 10px;
  border: 1px solid #ddd;
  background-size: cover;
  background-clip: content-box;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin: auto;
  top: 30px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 375px) {
  .letter {
    width: calc(100vw - 2rem);
    margin: 0 1rem;
    padding: 0 2rem;
  }
}

.letter:after {
  content: "";
  display: block;
  position: absolute;
  border: 50px solid transparent;
  border-bottom: 50px solid #fefefe;
  bottom: -60px;
  right: -65px;
  -webkit-box-shadow: 0px 7px 6px -9px black;
          box-shadow: 0px 7px 6px -9px black;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.letter:before {
  content: "";
  display: block;
  position: absolute;
  border: 50px solid transparent;
  border-top: 50px solid #fefefe;
  top: -60px;
  left: -65px;
  -webkit-box-shadow: 0px -7px 6px -9px black;
          box-shadow: 0px -7px 6px -9px black;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

#concept {
  background: #fff;
}

#concept h2 {
  padding-top: 4rem;
}

.concept_top {
  margin: 5rem 2rem 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 375px) {
  .concept_top {
    width: 100%;
    margin: 0;
  }
}

.concept_top li {
  background: #fff;
  margin: 0 2rem 4rem 2rem;
  width: calc(33.3333333% - 4rem);
  min-width: 32.7rem;
  list-style: none;
}

@media (max-width: 375px) {
  .concept_top li {
    width: 100%;
    margin: 0;
  }
}

.concept_top li img {
  width: 100%;
}

.concept_top li p {
  text-align: center;
  margin-top: 2rem;
}

@media (max-width: 375px) {
  .concept_top li p {
    margin: 1rem 0 4rem 0;
  }
}

.concept_top .concept_img-wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 60%;
  /* 比率 */
}

.concept_top .concept_img-wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*********************************
 *    style                             
 *********************************/
#style {
  margin-top: 2rem;
}

#style h2 {
  padding-top: 4rem;
}

.styles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0 2rem;
}

@media (max-width: 375px) {
  .styles {
    margin: 0;
  }
}

.styles .styles_image {
  margin: 0 2rem 5rem 2rem;
  width: calc(33.3333333% - 4rem);
  min-width: 34.2rem;
}

@media (max-width: 375px) {
  .styles .styles_image {
    margin: 0 0.5rem 4rem 0.5rem;
    width: calc(100% - 1rem);
  }
}

.styles .styles_image img {
  width: 100%;
}

.frame {
  display: inline-block;
  position: relative;
  width: 100%;
}

.frame:after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  background: #fff;
  z-index: -1;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  /* 回転させる */
}

.frameR {
  display: inline-block;
  position: relative;
}

.frameR:after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  background: #fff;
  z-index: -1;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  /* 回転させる */
}

.frameC {
  display: inline-block;
  position: relative;
}

.frameC:after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  background: #fff;
  z-index: -1;
  -webkit-transform: rotate(-0.5deg);
          transform: rotate(-0.5deg);
  /* 回転させる */
}

/*********************************
 *    Price                             
 *********************************/
#price {
  margin-top: 2rem;
}

#price h2 {
  padding-top: 4rem;
}

#price ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  margin: 0 2rem 4rem 2rem;
}

#price ul:nth-child(3) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 375px) {
  #price ul {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.6rem;
    margin: 2rem 0.5rem 0 0.5rem;
    width: calc(100% - 1rem);
  }
}

#price ul li {
  list-style: none;
  margin: 2rem 2rem 0 2rem;
  width: calc(50% - 4rem);
  min-width: 500px;
}

@media (max-width: 375px) {
  #price ul li {
    width: 100%;
    margin: 0;
    min-width: initial;
  }
}

@media (max-width: 375px) {
  #price ul .price_cut-photo {
    width: 100%;
  }
}

#price ul .price_cut-photo img {
  width: 100%;
}

@media (max-width: 375px) {
  #price ul .price_cut-photo img {
    width: 100%;
    margin: 0;
  }
}

#price ul .price_cut-fee {
  margin: 0 2rem;
}

@media (max-width: 375px) {
  #price ul .price_cut-fee {
    margin: 0;
  }
}

#price ul .price_cut-fee .cut {
  margin: 3rem 0;
}

@media (max-width: 375px) {
  #price ul .price_cut-fee .cut {
    margin-top: 3rem;
  }
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 375px) {
  .table {
    margin-bottom: 3rem;
  }
}

.table table {
  width: 350px;
}

@media (max-width: 375px) {
  .table table {
    width: 100%;
  }
}

.table table tr {
  text-align: center;
  border-bottom: 2px dashed #f091a9;
}

.table table th {
  width: 150px;
  position: relative;
  text-align: left;
  font-size: 1.6rem;
  font-weight: bold;
  padding-top: 2rem;
}

.table table td {
  width: 150px;
  text-align: right;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.table table td span {
  font-size: 2rem;
}

@media (max-width: 375px) {
  .table table td span {
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  .table table td {
    text-align: right;
    padding-left: 0rem;
  }
}

.table table .yu_gothic {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
}

/*********************************
 *    Access                             
 *********************************/
#access {
  margin: 4rem 0;
}

#access h2 {
  padding-top: 4rem;
}

.access_map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 375px) {
  .access_map {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.access_map iframe {
  width: 40vw;
  min-width: 400px;
  height: 50vh;
  margin: 0 3rem 5rem 3rem;
}

@media (max-width: 375px) {
  .access_map iframe {
    width: calc(100vw - 1rem);
    height: 40vh;
    margin: 0 0.5rem;
    min-width: initial;
  }
}

.access_map .access_data {
  text-align: left;
  margin: 0 3rem;
}

@media (max-width: 375px) {
  .access_map .access_data {
    margin: 0 0.5rem;
  }
}

@media (max-width: 375px) {
  .access_map .access_data .access_data-address {
    margin: 4rem 0.5rem 0 0.5rem;
  }
}

.access_map .access_data h3 {
  text-align: left;
  margin-bottom: 3rem;
}

@media (max-width: 375px) {
  .access_map .access_data h3 {
    text-align: center;
    margin-top: 4rem;
  }
}

.access_map .access_data p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

/*********************************
  *    footer                             
  *********************************/
footer {
  background: #f091a9;
  color: #fff;
}

.footer_w {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_first {
  width: 95vw;
  padding-top: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 375px) {
  .footer_first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer_logo {
  width: 250px;
}

.footer_list {
  font-size: 1.6rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

@media (max-width: 375px) {
  .footer_list {
    display: none;
  }
}

.footer_list li {
  margin-right: 3rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer_list li:nth-child(6) {
  margin-right: 0;
}

.footer_list-social {
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 375px) {
  .footer_list-social {
    margin: 2rem 0;
  }
}

.footer_list-social li {
  margin-right: 3.6rem;
}

.footer_list-social li:nth-child(3) {
  margin-right: 0;
}

.footer_info {
  margin-top: 3rem;
}

@media (max-width: 375px) {
  .footer_info {
    display: none;
  }
}

.footer_info .footer_address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.footer_info .footer_address p {
  font-size: 1.6rem;
}

.footer_p {
  font-size: 1.6rem;
}

.footer_under {
  margin-top: 2rem;
  position: relative;
}

.footer_copy {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 1rem;
}

.footer_under-totop {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 19px;
  /* 右寄せ */
  bottom: 19px;
}

@media (max-width: 375px) {
  .footer_under-totop {
    display: none;
  }
}

.fa-twitter-square {
  color: #1da1f2;
}

.fa-facebook-square {
  color: #1877f2;
}

.fa-instagram {
  color: #d93177;
}

.floating {
  position: fixed;
  right: 8px;
  bottom: 8px;
  display: none;
}

.floating a {
  display: block;
  color: #fff;
  background: #000;
  text-decoration: none;
  opacity: 0.6;
}

.floating a:hover {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */