@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
@import url(https://fonts.googleapis.com/css?family=Fjalla+One:400|Roboto:400,400italic,700);
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
}

/*********************************
 *    初期設定                             
 *********************************/
html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  margin: 0px auto;
  padding: 0px;
}

#wrapper {
  margin: 0px auto;
  overflow: hidden;
}

h2 {
  font-size: 4rem;
  text-align: center;
  font-family: "Crimson Text", serif;
}

h3 {
  font-size: 3.5rem;
  text-align: center;
  font-family: "Crimson Text", serif;
}

/*********************************
 *    nav                         
 *********************************/
header {
  height: 100px;
}

#nav {
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-size: 1.6rem;
}

.logo img {
  width: auto;
  height: 100px;
}

.nav_lists {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.nav_lists .nav_item {
  margin-right: 2rem;
}

/*********************************
 *    home                             
 *********************************/
#home {
  height: 700px;
}

/*********************************
 *    staff                             
 *********************************/
#staff {
  height: 700px;
  background-color: #fff;
  margin: 5rem 4rem 0 4rem;
}

#staff .staff_lists {
  margin: 0 auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#staff .staff_lists :nth-child(even) {
  margin-right: 0;
}

#staff .staff_lists li:not(:last-child) {
  margin-bottom: 2rem;
}

#staff .staff_list1 {
  width: 50%;
  margin: 0 1rem 1rem 0;
  width: calc(50% - 10px);
}

#staff .staff_list1 .staff_item {
  width: 100%;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#staff .staff_list1 .staff_item .staff_data {
  padding: 3rem 0 0 3rem;
  width: 100%;
  font-size: 1.6rem;
  background: #fff;
}

#staff .staff_list1 .staff_item .staff_data p {
  margin-bottom: 1.9rem;
}

#staff .staff_list1 .staff_item .staff_data .staff_name1 {
  font-size: 2.5rem;
}

#staff .staff_list1 .staff_item .staff_data .staff_more {
  margin-top: 10rem;
  text-align: right;
}

.staff_photo1 {
  height: 260px;
}

.staff_photo1 img {
  height: 100%;
}

/*********************************
 *    style                             
 *********************************/
.styles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 5rem 4rem 0 4rem;
}

.styles .styles_image {
  margin: 0 1rem 1rem 0;
  width: calc(33.333333% - 10px);
}

.styles .styles_image img {
  width: 100%;
}

/*********************************
 *    Price                             
 *********************************/
.price_cut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  margin: 5rem 4rem 0 4rem;
}

.price_cut:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.price_cut .price_cut-photo {
  width: 50%;
}

.price_cut .price_cut-photo img {
  width: 100%;
}

.price_cut .price_cut-fee {
  width: 50%;
}

.price_cut .price_cut-fee .cut {
  margin-bottom: 3rem;
}

table {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

table tr {
  text-align: center;
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

table th {
  position: relative;
  text-align: left;
  width: 30%;
  padding-bottom: 2rem;
}

table th:after {
  display: block;
  content: "";
  width: 150px;
  border: 1px dashed #7d7d7d;
  position: absolute;
  top: 6px;
  right: -170px;
}

table td {
  text-align: center;
  width: 65%;
  padding-bottom: 1rem;
  padding-left: 19rem;
}

/*********************************
 *    calender                             
 *********************************/
.calendar_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4rem;
}

.jzdbox1 {
  width: 315px;
  background: #332f2e;
  border-radius: 5px;
  overflow: hidden;
  display: block;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 10px #201d1c;
          box-shadow: 0 0 10px #201d1c;
  margin: 0 2rem;
}

.jzdcal {
  padding: 0 10px 10px 10px;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  background: #749d9e;
  background: -webkit-gradient(linear, left top, left bottom, from(#749d9e), to(#b3a68b)) !important;
  background: linear-gradient(#749d9e, #b3a68b) !important;
}

.jzdcalt {
  font: 18px "Roboto";
  font-weight: 700;
  color: #f7f3eb;
  display: block;
  margin: 18px 0 0 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

.jzdcal span {
  font: 11px "Roboto";
  font-weight: 400;
  color: #f7f3eb;
  text-align: center;
  width: 42px;
  height: 42px;
  float: left;
  overflow: hidden;
  line-height: 40px;
}

.jzdcal .jzdb:before {
  opacity: 0.3;
  content: "o";
}

.circle {
  border: 1px solid #f7f3eb;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  border-radius: 200px !important;
}

span[data-title]:hover:after,
div[data-title]:hover:after {
  font: 11px "Roboto";
  font-weight: 400;
  content: attr(data-title);
  position: absolute;
  margin: 0 0 100px;
  background: #282423;
  border: 1px solid #f7f3eb;
  color: #f7f3eb;
  padding: 5px;
  z-index: 9999;
  min-width: 150px;
  max-width: 150px;
}

/*********************************
 *    Access                             
 *********************************/
.access_map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.access_map .access_data {
  text-align-last: left;
  margin-left: 3rem;
}

.access_map .access_data h3 {
  margin-bottom: 2rem;
}

.access_map .access_data p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

/*********************************
  *    footer                             
  *********************************/
footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#000000));
  background: linear-gradient(to bottom, #666666, #000000);
  /* BOXのグラデーション */
  height: 338px;
}

.footer_first {
  padding-top: 7.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 375px) {
  .footer_first {
    display: block;
    text-align: center;
  }
}

.footer_logo {
  width: 250px;
  margin-left: 15.2rem;
}

@media (max-width: 375px) {
  .footer_logo {
    margin-left: 0rem;
  }
}

.footer_list {
  font-size: 1.6rem;
  list-style: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15.9rem;
}

@media (max-width: 375px) {
  .footer_list {
    margin-left: 0rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer_list li {
  margin-right: 3rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer_list li:hover {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

@media (max-width: 375px) {
  .footer_list li {
    margin: 4rem 2rem 4rem 0;
  }
}

.footer_list li:nth-child(5) {
  margin-right: 0;
}

.footer_list-social {
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 22.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 375px) {
  .footer_list-social {
    margin-left: 0rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer_list-social li {
  margin-right: 1.6rem;
}

@media (max-width: 375px) {
  .footer_list-social li {
    margin-right: 3.6rem;
  }
}

.footer_list-social li:nth-child(3) {
  margin-right: 0;
}

.footer_info {
  margin-top: 3rem;
}

@media (max-width: 375px) {
  .footer_info {
    text-align: center;
  }
}

.footer_p {
  font-size: 1.6rem;
  color: #fff;
  margin-left: 15.4rem;
  margin-bottom: 1.3rem;
}

@media (max-width: 375px) {
  .footer_p {
    margin-left: 0rem;
  }
}

.footer_under {
  margin-top: 9.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3.1rem;
  position: relative;
}

@media (max-width: 375px) {
  .footer_under {
    margin-top: 5.1rem;
  }
}

.footer_copy {
  font-size: 1.4rem;
  color: #ffffff;
}

.footer_under-totop {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 19px;
  /* 右寄せ */
  bottom: 19px;
}

@media (max-width: 375px) {
  .footer_under-totop {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */