@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
}

/*********************************
 *    初期設定                             
 *********************************/
html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  margin: 0px auto;
  padding: 0px;
}

#wrapper {
  margin: 0px auto;
  overflow: hidden;
}

h2 {
  font-size: 4rem;
  text-align: center;
  font-family: "Crimson Text", serif;
  margin-bottom: 5rem;
  position: relative;
}

h2:after {
  position: absolute;
  content: "";
  top: 130%;
  right: 48%;
  width: 50px;
  border: 2px solid #35bec4;
}

h3 {
  font-size: 3.5rem;
  text-align: center;
  font-family: "Crimson Text", serif;
}

.active {
  border-bottom: 1.5px solid #35bec4;
}

/*********************************
 *    nav                         
 *********************************/
.drawer-hamburger {
  display: none;
}

@media (max-width: 768px) {
  .drawer-hamburger {
    display: block;
  }
}

#nav {
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 100;
  width: 100%;
  font-size: 1.6rem;
  height: 14vh;
}

.logo img {
  width: 70vw;
  max-width: 45rem;
}

.nav_lists {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

@media (max-width: 768px) {
  .nav_lists {
    display: none;
  }
}

.nav_lists .nav_item {
  margin-right: 2rem;
  font-size: 1.6rem;
}

/*********************************
 *    home                             
 *********************************/
.swiper-container,
.swiper-slide {
  height: 100vh;
}

@media (max-width: 375px) {
  .swiper-container,
  .swiper-slide {
    height: 60vh;
  }
}

.swiper-slide > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

/*********************************
 *    staff                             
 *********************************/
#staff {
  background-color: #000;
}

#staff h2 {
  color: #fff;
  padding-top: 4rem;
}

#staff .staff_lists {
  border: solid 2px red;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 375px) {
  #staff .staff_lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#staff .staff_lists li {
  margin-right: 2rem;
}

@media (max-width: 375px) {
  #staff .staff_lists li {
    margin-right: 0rem;
  }
}

#staff .staff_list1 {
  margin: 0 1rem 1rem 0;
  width: 350px;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 375px) {
  #staff .staff_list1 {
    height: 100%;
  }
}

#staff .staff_list1 .staff_photo1 {
  background-image: url(images/womenJP_Hairdresser.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
}

@media (max-width: 375px) {
  #staff .staff_list1 .staff_photo1 {
    height: 40vh;
  }
}

#staff .staff_list1 .staff_data {
  padding: 2rem 0 0 2rem;
  font-size: 1.6rem;
  background: #fff;
  height: 20vh;
}

@media (max-width: 375px) {
  #staff .staff_list1 .staff_data {
    height: 20vh;
  }
}

#staff .staff_list1 .staff_data p {
  margin-bottom: 1rem;
}

#staff .staff_list1 .staff_data .staff_name1 {
  font-size: 2.5rem;
}

#staff .staff_list1 .staff_data .staff_more {
  margin-top: 6rem;
  padding-bottom: 2rem;
}

/*********************************
 *    concept                             
 *********************************/
#concept {
  background: #ffe3ed;
}

#concept h2 {
  padding-top: 4rem;
}

.concept_lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.concept_imgL {
  background-image: url(images/woman-and-child.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 25vw;
  height: 60vh;
}

@media (max-width: 375px) {
  .concept_imgL {
    display: none;
  }
}

.concept_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.concept_top .concept_imgT img {
  width: 33.3vw;
}

.concept_main {
  width: 50vw;
  height: 60vh;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.concept_main .concept_txt h3 {
  margin-bottom: 3rem;
}

.concept_main .concept_txt p {
  margin-bottom: 2rem;
  padding-left: 3rem;
  position: relative;
}

.concept_main .concept_txt p:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-image: url(images/check.svg);
}

.concept_imgR {
  background-image: url(images/womenbackhair.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 25vw;
  height: 60vh;
}

@media (max-width: 375px) {
  .concept_imgR {
    display: none;
  }
}

/*********************************
 *    style                             
 *********************************/
#style {
  margin-top: 8rem;
}

#style h2 {
  padding-top: 4rem;
}

.styles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 5rem 4rem 0 4rem;
}

.styles .styles_image {
  margin: 0 0rem 5rem 0;
  width: 450px;
}

@media (max-width: 375px) {
  .styles .styles_image {
    margin: 0 0 1rem 0;
  }
}

.styles .styles_image img {
  width: 95%;
  height: 30vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.frame {
  display: inline-block;
  position: relative;
}

.frame:after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 95%;
  height: 95%;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  background: #fff;
  z-index: -1;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  /* 回転させる */
}

.frameR {
  display: inline-block;
  position: relative;
}

.frameR:after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 95%;
  height: 95%;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  background: #fff;
  z-index: -1;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  /* 回転させる */
}

.frameC {
  display: inline-block;
  position: relative;
}

.frameC:after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 95%;
  height: 95%;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  background: #fff;
  z-index: -1;
  -webkit-transform: rotate(-0.5deg);
          transform: rotate(-0.5deg);
  /* 回転させる */
}

/*********************************
 *    Price                             
 *********************************/
#price {
  margin-top: 8rem;
}

#price h2 {
  padding-top: 4rem;
}

.price_cut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  margin: 5rem 4rem 0 4rem;
}

@media (max-width: 375px) {
  .price_cut {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2rem;
  }
}

.price_cut:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 375px) {
  .price_cut:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.price_cut .price_cut-photo {
  width: 50%;
}

@media (max-width: 375px) {
  .price_cut .price_cut-photo {
    width: 100%;
  }
}

.price_cut .price_cut-photo img {
  width: 100%;
}

.price_cut .price_cut-fee {
  width: 50%;
}

@media (max-width: 375px) {
  .price_cut .price_cut-fee {
    width: 100%;
  }
}

.price_cut .price_cut-fee .cut {
  margin-bottom: 3rem;
}

@media (max-width: 375px) {
  .price_cut .price_cut-fee .cut {
    margin-top: 3rem;
  }
}

table {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

table tr {
  text-align: center;
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

table th {
  position: relative;
  text-align: left;
  width: 200px;
  padding-bottom: 2rem;
}

table th:after {
  display: block;
  content: "";
  width: 150px;
  border: 1px dashed #7d7d7d;
  position: absolute;
  top: 6px;
  right: -170px;
}

@media (max-width: 375px) {
  table th:after {
    width: 70px;
    right: -80px;
  }
}

table td {
  text-align: center;
  width: 65%;
  padding-bottom: 1rem;
  padding-left: 19rem;
}

@media (max-width: 375px) {
  table td {
    text-align: right;
    padding-left: 0rem;
  }
}

/*********************************
 *    calender                             
 *********************************/
#calendar {
  margin-top: 8rem;
}

#calendar h2 {
  padding-top: 4rem;
}

.calendar_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4rem;
}

.jzdbox1 {
  width: 315px;
  background: #332f2e;
  border-radius: 5px;
  overflow: hidden;
  display: block;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 10px #201d1c;
          box-shadow: 0 0 10px #201d1c;
  margin: 0 2rem;
}

.jzdcal {
  padding: 0 10px 10px 10px;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  background: #749d9e;
  background: -webkit-gradient(linear, left top, left bottom, from(#749d9e), to(#b3a68b)) !important;
  background: linear-gradient(#749d9e, #b3a68b) !important;
}

.jzdcalt {
  font: 18px "Roboto";
  font-weight: 700;
  color: #f7f3eb;
  display: block;
  margin: 18px 0 0 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

.jzdcal span {
  font: 11px "Roboto";
  font-weight: 400;
  color: #f7f3eb;
  text-align: center;
  width: 42px;
  height: 42px;
  float: left;
  overflow: hidden;
  line-height: 40px;
}

.jzdcal .jzdb:before {
  opacity: 0.3;
  content: "o";
}

.circle {
  border: 1px solid #f7f3eb;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  border-radius: 200px !important;
}

span[data-title]:hover:after,
div[data-title]:hover:after {
  font: 11px "Roboto";
  font-weight: 400;
  content: attr(data-title);
  position: absolute;
  margin: 0 0 100px;
  background: #282423;
  border: 1px solid #f7f3eb;
  color: #f7f3eb;
  padding: 5px;
  z-index: 9999;
  min-width: 150px;
  max-width: 150px;
}

.calendar_close {
  margin-left: 16rem;
  margin-top: 3rem;
  padding-bottom: 0.5rem;
  font-size: 1.6rem;
  display: inline-block;
  border-bottom: 2px solid red;
}

/*********************************
 *    Access                             
 *********************************/
#access {
  height: 600px;
  margin-top: 4rem;
}

#access h2 {
  padding-top: 4rem;
}

.access_map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.access_map iframe {
  width: 40vw;
  height: 50vh;
}

.access_map .access_data {
  text-align-last: left;
  margin-left: 3rem;
}

.access_map .access_data h3 {
  margin-bottom: 2rem;
}

.access_map .access_data p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

/*********************************
  *    footer                             
  *********************************/
footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#000000));
  background: linear-gradient(to bottom, #666666, #000000);
  /* BOXのグラデーション */
  height: 238px;
}

.footer_first {
  padding-top: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_logo {
  width: 250px;
}

.footer_list {
  font-size: 1.6rem;
  list-style: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15.9rem;
}

.footer_list li {
  margin-right: 3rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer_list li:nth-child(6) {
  margin-right: 0;
}

.footer_list-social {
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 22.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_list-social li {
  margin-right: 1.6rem;
}

.footer_list-social li:nth-child(3) {
  margin-right: 0;
}

.footer_info {
  margin-top: 3rem;
}

.footer_info .footer_address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.footer_info .footer_address p {
  font-size: 1.6rem;
  color: #fff;
}

.footer_p {
  font-size: 1.6rem;
  color: #fff;
  margin-left: 9.4rem;
  margin-bottom: 1.3rem;
}

.footer_under {
  margin-top: 3.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.footer_copy {
  font-size: 1.4rem;
  color: #ffffff;
}

.footer_under-totop {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 19px;
  /* 右寄せ */
  bottom: 19px;
}

@media (max-width: 375px) {
  .footer_under-totop {
    display: none;
  }
}

.fa-twitter-square {
  color: #1da1f2;
}

.fa-facebook-square {
  color: #1877f2;
}

.fa-instagram {
  color: #d93177;
}

.floating {
  position: fixed;
  right: 8px;
  bottom: 8px;
  display: none;
}

.floating a {
  display: block;
  color: #fff;
  background: #000;
  text-decoration: none;
  opacity: 0.6;
}

.floating a:hover {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */