/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

html {
    font-size: 62.5%; //px と remと同じ数字にする
}

/*********************************
 *    初期設定                             
 *********************************/

html {
    font-size: 62.5%;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #fff;
}

// bodyの幅がウィンドウサイズに合わせて可変するようになる
body {
    margin: 0px auto;
    padding: 0px;
}

#wrapper {
    margin: 0px auto;
    overflow: hidden;
}

h2 {
    font-size: 4rem;
    text-align: center;
    font-family: "Crimson Text", serif;
    padding-bottom: 2rem;
    margin-bottom: 4rem;
    position: relative;
    &:after {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 5rem;
        border-bottom: 3px solid #35bec4;
    }
}

h3 {
    font-size: 3.5rem;
    text-align: center;
    font-family: "Crimson Text", serif;
}

.active {
    border-bottom: 1.5px solid #35bec4;
}

///////////////////////
// メディアクエリ
///////////////////////

$pc: 1024px; // PC
$tab: 768px; // タブレット
$sp: 375px; // スマホ

@mixin pc {
    @media (max-width: ($pc)) {
        @content;
    }
}

@mixin tab {
    @media (max-width: ($tab)) {
        @content;
    }
}

@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

/*********************************
 *    nav                         
 *********************************/

.drawer-hamburger {
    display: none;
    @include tab {
        display: block;
    }
}

#nav {
    background: #2d3754;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    width: 100%;
    font-size: 1.6rem;
    height: 14vh;
}

.logo {
    img {
        max-width: 70vw;
        max-height: 14vh;
    }
}

.nav_lists {
    color: #fff;
    display: flex;
    align-items: center;
    list-style: none;
    @include tab {
        display: none;
    }

    .nav_item {
        margin-right: 2rem;
        font-size: 1.6rem;
    }
}

/*********************************
 *    home                             
 *********************************/

.swiper-container,
.swiper-slide {
    height: 100vh;
    @include sp {
        height: 60vh;
    }
}
.swiper-slide > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*********************************
 *    staff                             
 *********************************/

#staff {
    h2 {
        color: #000;
        padding-top: 4rem;
    }
    .staff_lists {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @include sp {
            flex-direction: column;
            align-items: center;
        }
        li {
            margin-right: 2rem;
            @include sp {
                margin-right: 0rem;
            }
        }
    }

    .staff_list1 {
        margin: 0 1rem 1rem 0;
        width: 300px;
        height: 80vh;
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
        @include sp {
            height: 100%;
        }
        .staff_photo1 {
            background-image: url(images/womenJP_Hairdresser.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 60vh;

            @include sp {
                height: 40vh;
            }
        }
        .staff_data {
            padding: 2rem 0 0 2rem;
            font-size: 1.6rem;
            color: #fff;
            height: 30vh;
            background-color: #8c7352;
            @include sp {
                height: 30vh;
            }
            p:not(:last-child) {
                margin-bottom: 1rem;
            }
            .staff_name1 {
                font-size: 2.5rem;
            }
            .staff_more {
                padding-top: 3rem;
            }
        }
    }
}

/*********************************
 *    concept                             
 *********************************/

.note_wrap {
    background: #fff;
    padding: 1em 2em;
    width: 80%;
    margin: 30px auto;
    @include sp {
        width: 100%;
        padding: 0;
    }
}
.note {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 97%, #ddd 97%, #ddd 100%);
    background-size: 100% 2em;
    line-height: 2;
}
.note p {
    margin-bottom: 2em;
}

.letter {
    width: 70vw;
    padding: 10px;
    border: 1px solid #ddd;
    background-size: cover;
    background-clip: content-box;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
    margin: auto;
    top: 30px;
    font-size: 2rem;
    color: #000;
    display: flex;
    align-items: center;
    @include sp {
        width: calc(100vw - 2rem);
        margin: 0 1rem;
        padding: 0 2rem;
    }
}

.letter:after {
    content: "";
    display: block;
    position: absolute;
    border: 50px solid transparent;
    border-bottom: 50px solid #fefefe;
    bottom: -60px;
    right: -65px;
    box-shadow: 0px 7px 6px -9px black;
    transform: rotate(135deg);
}

.letter:before {
    content: "";
    display: block;
    position: absolute;
    border: 50px solid transparent;
    border-top: 50px solid #fefefe;
    top: -60px;
    left: -65px;
    box-shadow: 0px -7px 6px -9px black;
    transform: rotate(135deg);
}

@mixin center_height {
    height: 60vh;
}

#concept {
    background: #fff;
    h2 {
        padding-top: 4rem;
    }
}

.concept_top {
    margin: 5rem 2rem 0 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li {
        background: #fff;
        margin: 0 2rem 12rem 2rem;
        width: calc(33.3333333% - 4rem);
        min-width: 34.2rem;
        list-style: none;
        img {
            border-radius: 1rem;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
            width: 100%;
            height: 100%;
        }
        p {
            font-size: 2rem;
            text-align: center;
            margin-top: 4rem;
        }
    }
}

/*********************************
 *    style                             
 *********************************/

#style {
    margin-top: 8rem;
    h2 {
        padding-top: 4rem;
    }
}

.styles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 2rem;
    .styles_image {
        margin: 0 2rem 5rem 2rem;
        width: calc(33.3333333% - 4rem); //◯remはmarginの左右を合計した数字にする
        min-width: 34.2rem;
        @include sp {
            margin: 0 0 1rem 0;
        }
        img {
            width: 100%;
            height: 30vh;
            object-fit: contain;
        }
    }
}

@mixin frame_mix {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background: #fff;
    z-index: -1;
}

.frame {
    display: inline-block;
    position: relative;
    width: 100%;

}
.frame:after {
    @include frame_mix;
    transform: rotate(3deg); /* 回転させる */
}

.frameR {
    display: inline-block;
    position: relative;
}
.frameR:after {
    @include frame_mix;
    transform: rotate(-2deg); /* 回転させる */
}

.frameC {
    display: inline-block;
    position: relative;
}
.frameC:after {
    @include frame_mix;
    transform: rotate(-0.5deg); /* 回転させる */
}

/*********************************
 *    Price                             
 *********************************/

#price {
    margin-top: 8rem;
    h2 {
        padding-top: 4rem;
    }
}

.price_cut {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 0 2rem;
    @include sp {
        width: 100vw;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
        margin: 0;
    }
    .price_cut-photo {
        @include sp {
            width: 100%;
        }
        img {
            border-radius: 1rem;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
            width: 100%;
            @include sp {
                width: 100%;
                margin: 0;
            }
        }
    }
    li {
        list-style: none;
        margin: 2rem 2rem 0 2rem;
        width: calc(50% - 4rem);
        min-width: 500px;
        @include sp {
            width: calc(100% - 2rem);
            margin: 0 1rem;
            min-width: initial;
        }
    }
    .price_cut-fee {
        margin: 0 2rem;
        @include sp {
            width: calc(100% - 2rem);
            margin: 0 1rem;
        }
        .cut {
            margin: 3rem 0;
            @include sp {
                margin-top: 3rem;
            }
        }
    }
}

.reverse {
    flex-direction: row-reverse;
}

.table {
    display: flex;
    justify-content: center;
    @include sp {
        margin-bottom: 3rem;
    }
}

table {
    width: 350px;
    tr {
        text-align: center;
    }
}

table th {
    width: 150px;
    position: relative;
    text-align: left;
    padding-bottom: 2rem;
    font-weight: bold;
}

// table th:after {
//     display: block;
//     content: "";
//     width: 7vw;
//     border: 1px dashed #7d7d7d;
//     position: absolute;
//     top: 6px;
//     right: -170px;
//     @include sp {
//         width: 70px;
//         right: -80px;
//     }
// }

table td {
    width: 150px;
    text-align: right;
    padding-bottom: 1rem;
    span {
        font-size: 2.6rem;
    }
    @include sp {
        text-align: right;
        padding-left: 0rem;
    }
}

/*********************************
 *    calender                             
 *********************************/

#calendar {
    margin-top: 8rem;
    @include sp {
        margin-top: 3rem;
    }
    h2 {
        padding-top: 4rem;
    }
}

.calendar_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
    @include sp {
        flex-direction: column;
        align-items: center;
    }
}

.jzdbox1 {
    width: 315px;
    min-width: 315px;
    background: #332f2e;
    border-radius: 5px;
    overflow: hidden;
    display: block;
    margin-bottom: 10px;
    box-shadow: 0 0 10px #201d1c;
    margin: 0 2rem 4rem 2rem;
    @include sp {
        margin-bottom: 4rem;
    }
}

.jzdcal {
    padding: 0 10px 10px 10px;
    box-sizing: border-box !important;
    background: #749d9e;
    background: -webkit-linear-gradient(#749d9e, #b3a68b) !important;
    background: -o-linear-gradient(#749d9e, #b3a68b) !important;
    background: -moz-linear-gradient(#749d9e, #b3a68b) !important;
    background: linear-gradient(#749d9e, #b3a68b) !important;
}

.jzdcalt {
    font: 2rem "Roboto";
    font-weight: 700;
    color: #f7f3eb;
    display: block;
    margin: 18px 0 0 0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}

.jzdcal span {
    font: 1.6rem "Roboto";
    font-weight: 400;
    color: #f7f3eb;
    text-align: center;
    width: 42px;
    height: 42px;
    float: left;
    overflow: hidden;
    line-height: 40px;
}

.jzdcal .jzdb:before {
    opacity: 0.3;
    content: "o";
}

.circle {
    border: 1px solid #f7f3eb;
    box-sizing: border-box !important;
    border-radius: 200px !important;
}

span[data-title]:hover:after,
div[data-title]:hover:after {
    font: 11px "Roboto";
    font-weight: 400;
    content: attr(data-title);
    position: absolute;
    margin: 0 0 100px;
    background: #282423;
    border: 1px solid #f7f3eb;
    color: #f7f3eb;
    padding: 5px;
    z-index: 9999;
    min-width: 150px;
    max-width: 150px;
}

.calendar_close {
    margin: 0 10rem;
    text-align: center;
    @include sp {
        text-align: center;
        margin: 0 7rem;
    }
    p {
        padding-bottom: 0.5rem;
        font-size: 2rem;
        display: inline-block;
        border-bottom: 2px solid red;
    }
}

/*********************************
 *    Access                             
 *********************************/

#access {
    margin: 4rem 0;
    h2 {
        padding-top: 4rem;
    }
}

.access_map {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include sp {
        flex-direction: column;
    }
    iframe {
        width: 40vw;
        min-width: 400px;
        height: 50vh;
        margin: 0 3rem 5rem 3rem;
        @include sp {
            width: calc(100vw - 2rem);
            height: 40vh;
            margin: 0 1rem;
            min-width: initial;
        }
    }
    .access_data {
        text-align: left;
        margin: 0 3rem;
        .access_data-address {
            @include sp {
                margin: 4rem 2rem 0 2rem;
            }
        }
        h3 {
            text-align: left;
            margin-bottom: 3rem;
            @include sp {
                text-align: center;
                margin-top: 4rem;
            }
        }
        p {
            font-size: 1.6rem;
            margin-bottom: 2rem;
        }
    }
}

/*********************************
  *    footer                             
  *********************************/

footer {
    background: #2d3754;
    height: 25vh;
}

.footer_w {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_first {
    width: 95vw;
    padding-top: 1.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    @include sp {
        flex-direction: column;
        align-items: center;
    }
}

.footer_logo {
    width: 250px;
}

.footer_list {
    font-size: 1.6rem;
    list-style: none;
    color: #fff;
    display: flex;
    align-items: center;
    margin: 2rem 0;
    @include sp {
        display: none;
    }
    li {
        margin-right: 3rem;
        transition: 0.3s;
        &:nth-child(6) {
            margin-right: 0;
        }
    }
}

.footer_list-social {
    list-style: none;
    align-items: center;
    display: flex;
    @include sp {
        margin: 2rem 0;
    }
    li {
        margin-right: 1.6rem;
        &:nth-child(3) {
            margin-right: 0;
        }
    }
}

.footer_info {
    margin-top: 3rem;
    @include sp {
        display: none;
    }
    .footer_address {
        display: flex;
        margin-bottom: 1rem;
        p {
            font-size: 1.6rem;
            color: #fff;
        }
    }
}

.footer_p {
    font-size: 1.6rem;
    color: #fff;
}

.footer_under {
    margin-top: 2rem;
    position: relative;
}

.footer_copy {
    font-size: 1.4rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 1rem;
}

.footer_under-totop {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 19px; /* 右寄せ */
    bottom: 19px;
    @include sp {
        display: none;
    }
}

.fa-twitter-square {
    color: #1da1f2;
}
.fa-facebook-square {
    color: #1877f2;
}
.fa-instagram {
    color: #d93177;
}

.floating {
    position: fixed;
    right: 8px;
    bottom: 8px;
    display: none;
}
.floating a {
    display: block;
    color: #fff;
    background: #000;
    text-decoration: none;
    opacity: 0.6;
}
.floating a:hover {
    opacity: 1;
}
